name: Build and Push Docker Images

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build & push backend
      - name: Build backend image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/eabms-backend:latest ./backend

      - name: Push backend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/eabms-backend:latest

      # Build & push frontend
      - name: Build frontend image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/eabms-frontend:latest ./frontend

      - name: Push frontend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/eabms-frontend:latest

